{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure        {:mvn/version "1.10.3"}
  reagent/reagent            {:mvn/version "1.1.0"}
  applied-science/js-interop {:mvn/version "0.3.1"}
  mhuebert/kitchen-async     {:mvn/version "0.1.0"}
  cljs-bean/cljs-bean        {:mvn/version "1.8.0"}
  com.lambdaisland/webstuff  {:local/root "/home/arne/github/lambdaisland/webstuff"}
  com.lambdaisland/ornament  {:local/root "/home/arne/github/lambdaisland/ornament"}
  metosin/reitit-frontend {:mvn/version "RELEASE"}
  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.16.12"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.977"}}}}}
